<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449349642727-53d0dfru1gfibb7n2qnf4tbl2d6k842v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449349642727-53d0dfru1gfibb7n2qnf4tbl2d6k842v</string>
	<key>API_KEY</key>
	<string>AIzaSyCFjrdt7wPYL5hinHEwvbkWAgnHclq-RNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449349642727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-da6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-da6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449349642727:ios:b60b5e730ebf9930893542</string>
</dict>
</plist>